body{
    margin: 0%;
    background: url("/static/bg.jpg") no-repeat center/cover ;
    width:100vw;
    height:100vh;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar{
    width: 100vw;
    height: 60px;
    background-color: aliceblue;
    padding-top:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divclass{
    height:430px;
    width:340px;
    border:none;
    background-color: aliceblue;
    position: absolute;
    top:240px;
    left:630px;
    border-radius: 13px;

}

.glash-input{
    width: 92%;
    display: flex;
    align-items: center;
    margin:10px 0px 10px 0px;
    padding: 12px;
    font-size: 18px;
    border:none;
    outline: none;
    border-radius: 15px;
    color:rgb(31, 11, 11);
}

.glash-btn{
    padding:10px;
    border:none;
    border-radius:13px;
    background-color: blanchedalmond;
    color:black;
    font-size: 16px;
    position: absolute;
    left:130px;
}

.glash-btn:hover{
    color: aliceblue;
    background: black;
}

.navbar a{
    font-size: 20px;
    text-decoration: none;
    color:black;
    align-items: center;
    margin-top:20px;
    margin-bottom: 20px;
    

}