{% extends 'home.html' %}
{% block content %}
    <nav class="order-nav">
        <h3>paint</h3>
        <h3>shirt</h3>
        <h3>shoe</h3>
    </nav>
<div class ="shirt-class">
    <img src="images/trollyred.jpeg" alt="shirt">
    <img src="images/trollyred.jpeg" alt="shirt">
    <img src="images/trollyred.jpeg" alt="shirt">
    <img src="images/trollyred.jpeg" alt="shirt">
    <img src="images/trollyred.jpeg" alt="shirt">
    <img src="images/trollyred.jpeg" alt="shirt">
</div>
<div class ="pant-class">
    <div class="pant"></div>
    <div class="pant"></div>
    <div class="pantt"></div>
    <div class="pantt"></div>
    <div class="pant"></div>
</div>
<div class ="shoe-class">
    <div class="shoe"></div>
    <div class="shoe"></div>
    <div class="shoe"></div>
    <div class="shoe"></div>
    <div class="shoe"></div>
</div>
<div class ="beauty-class">
    <div class="beauty"></div>
    <div class="beauty"></div>
    <div class="beauty"></div>
    <div class="beauty"></div>
    <div class="beauty"></div>
</div>

{% endblock %}