<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav class = "navbar">
        <h1>Order</h1>
        <a href="/">HOME</a>
        {% if session.get("user_id") %}
        <a href="/addorder">Addorder</a>
        <a href="/setting">Settings</a>
        {% endif %}
    </nav>
    <div class="page-wrapper">
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for Category,msg in messages %}
        <div class="flash flash_{{category}}">
            {{msg}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>