{% extends 'home.html' %}
{% block content %}
<div class="setting"><br>
    {% if session.get("user_role")=="user" %}
<a href="/mybalance">Check-Balance</a><br><br>
<a href="/update_user">Update-id</a><br><br>
<a href="/api/v1/dashboard">Dashboard</a><br><br>
<a href="/update_account">update-Account</a><br><br>
<a href="/api/v1/logout">Logout</a><br><br>
<a href="/delete">Delete</a><br><br>
<a href="/delete_ban">Delete-Account</a><br><br>
{% elif session.get("user_role")=="admin" %}
<a href="/mybalance">Check-Balance</a><br><br>
<a href="/update_user">Update-id</a><br><br>
<a href="/api/v1/dashboard">Dashboard</a><br><br>
<a href="/update_account">update-Account</a><br><br>
<a href="/api/v1/logout">Logout</a><br><br>
<a href="/delete">Delete</a><br><br>
<a href="/delete_ban">Delete-Account</a><br><br>
<a href="/api/v1/admin-dashboard">Admin-dashboard</a><br><br>

{% endif %}

</div>
{% endblock %}