{% extends 'home.html' %}
{% block content %}
<div class="main-container">
<div class="divclass">
<form action="/api/v1/update_account" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<input class="glash-input" type="text" name="Acc_name" placeholder="Enter your Account name" required><br>
<input class="glash-input" tyoe="text" name="Acc_holder_name" placeholder="Enter your full name" required><br>
<input class="glash-input" type="number" name="Acc_num" placeholder="Account number" required><br>
<input class="glash-input" type="number" name="balance" placeholder="Enter your balance" required ><br>
<input class="glash-input" type="password" name="password" placeholder="Enter your password" required><br>
<button class="glash-btn" type="submit">Add-Account</button>   
</form>
</div>
</div>
{% endblock %}